.product-wrap{
    padding: 5rem 0 0 0;  
}
.product-wrap__tool{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tool__title{
        text-transform: capitalize;
    }
    .tool__view{
        color: rgba(0,0,0,.87);
        a{
            display: inline;
            text-transform: uppercase;
            color: inherit; 
        }
    }
}

.product-wrap__block{
    button.block__more{
        border: 2px solid #d8d8d8;
        display: block;
        padding: .8rem;
        text-align: center;
        text-transform: uppercase;
        margin: 2.5rem 0;
        color: rgba(0,0,0,.54);
        font-weight: 700;
        cursor: pointer;
        width:100%; 
        background: none;
    }
    .block__product{
        margin-bottom: 1.4em; 
        position: relative;
    }
    
    .block__context{
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        padding: 1.5em 1.7em 2em 1.7em;  
        border-radius: 5px;
        overflow: hidden;
        background: #fff;
        transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
        &:hover{
            box-shadow: 0 0 16px 0 rgba(0,0,0,.12),0 16px 16px 0 rgba(0,0,0,.24);
        }
        .context__sell{
            position: absolute;
            top: 8%;
            left: 5%;
            background: #ff5722;
            padding: .3rem .6rem;
            span{
                color:#fff;
            }
        }
        .context__img{
            img{
                max-width: 100%;
            }
        }
        .context__content{
            a{
                text-decoration: none;
                color: inherit;
            }
            p.content__category{
                padding-top: 1rem;  
                color: rgba(0,0,0,.38);
            }
            p.price{
                color: #ff5722; 
                font-size: .875rem;
            }
            button.btn__cart{
                &:hover{
                    background: #ff5722; 
                    border:none;
                    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);    
                }
            }
        }
    }
}