footer{
    background: #000;
    color:#fff;
    padding: 2rem 0;
    a{
        color:#fff;
    }
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
        }
    }
    .footer__end{
        display: flex;
        justify-content: center;
        border-top: 1px solid rgba(97, 90, 90, 0.4);
        padding-top: 1.8rem;
        p{
            display: inline-block;
        }
    }
}